<form id="login-form" [formGroup]="form" #loginForm="ngForm">
  <fieldset>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input type="email" class="input" name="email" formControlName="email" autocomplete="current-email" />
        <p class="help is-danger" *ngIf="displayError('email', ['email'], ['required'])">
          Please enter a valid email address
        </p>
        <p class="help is-danger" *ngIf="displayError('email', ['required'])">Email ist required</p>
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
          type="password"
          class="input"
          name="password"
          formControlName="password"
          autocomplete="current-password"
        />
        <p class="help is-danger" *ngIf="displayError('password', ['required'])">
          Password ist required
        </p>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" (click)="login()">Login</button>
      </div>
    </div>
  </fieldset>
</form>
