@using Microsoft.AspNetCore.Http.Features

@{
   var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
   var showBanner = !consentFeature?.CanTrack ?? false;
   var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
   <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card is-clipped">
         <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete modal-close-button" aria-label="close"></button>
         </header>
         <section class="modal-card-body">
            Use this space to summarize your privacy and cookie use policy. <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>.
         </section>
         <footer class="modal-card-foot">
            <p class="buttons">
               <button type="button"id="cookie-consent-button" class="button is-primary accept-policy modal-close-button" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                  <span aria-hidden="true">Accept</span>
               </button>
            </p>
         </footer>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
   </div>
}
