<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>TTWebMVC</title>
   <environment include="Development">
      <link rel="stylesheet" href="~/Contents/css/site.css" />
   </environment>
   <environment exclude="Development">
      <link rel="stylesheet" href="css/site.min.css" />
   </environment>
</head>
<body id="body">
   <div id="body-wrapper">
      <div class="section">
         <div class="container">
            <main role="main">
               @RenderBody()
            </main>
         </div>
      </div>
   </div>
   <partial name="_FooterPartial" />

   <partial name="_CookieConsentPartial" />
   <partial name="_ScriptsPartial" />
   @RenderSection("Scripts", required: false)
</body>
</html>
