@{
   ViewData["Title"] = "Home Page";
}

<section class="hero is-medium is-primary is-bold">
   <div class="hero-body">
      <div class="container">
         <h1 class="title">
            Welcome
         </h1>
         <div class="buttons">
            <a class="button is-primary is-light" asp-controller="schedule" asp-action="create">
               <span class="icon"><i class="fas fa-plus"></i></span>
               <span>New job</span>
            </a>
            <a class="button is-info is-light" asp-controller="schedule" asp-action="index">
               <span class="icon"><i class="fas fa-list"></i></span>
               <span>Jobs list</span>
            </a>
         </div>
      </div>
   </div>
</section>
