@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


$color-text-dark: black;
$color-text-light: white;
$color-primary: #00A7E1;
$color-secondary: #EDDEA4;

$family-sans-serif: "Nunito", sans-serif;

@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/form/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

html, body, main {
   margin: 0;
   width: 100%;
   height: 100%;
}