<form id="change-password-form" [formGroup]="form" #changePasswordForm="ngForm">
  <fieldset>
    <input type="email" name="email" formControlName="email" autocomplete="email" hidden />
    <input type="text" name="id" formControlName="id" autocomplete="" hidden />
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" name="old-password" formControlName="old-password" autocomplete="old-password" />
      <mat-error *ngIf="displayError('old-password', ['required'])">
        Password ist required
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" color="accent">
      <mat-label>New Password</mat-label>
      <input matInput type="password" name="new-password" formControlName="new-password" autocomplete="new-password" />
      <mat-error *ngIf="displayError('new-password', ['required'])">
        Password ist required
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        name="new-password-confirm"
        formControlName="new-password-confirm"
        autocomplete="new-password"
      />
      <mat-error *ngIf="displayError('new-password-confirm', ['required'])">
        Password ist required
      </mat-error>
      <mat-error *ngIf="displayError('new-password-confirm', ['notMatch'], ['required'])">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <br />
    <div class="form-buttons">
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Apply</button>
    </div>
  </fieldset>
</form>
