@using Microsoft.AspNetCore.Authentication.Facebook;

@{
    ViewData["Title"] = "Login";
}

<div id="login" class="container">
    <div class="buttons login-buttons">
        <a href="@Url.Action("LoginExternal", "Account", new { @provider = FacebookDefaults.AuthenticationScheme })" class="button is-link">Login with Facebook</a>
    </div>
</div>