@import "bulma";
@import "switch.extension";

$box-shadow-hovered: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.5);

html, body {
   height: 100%;
}

#body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

#body-wrapper {
   flex: 1;
}

.empty-state {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
}

.facebook-button {
   background-color: $blue;
   color: white;
}

form {
   display: flex;
   justify-content: center;
   fieldset {
      width: 100%;
      max-width: 640px;
   }
}

.modal-content.modal-content-small {
   max-width: 320px;
}

span.has-icon-left {
   margin-left: 8px;
}

.w-100 {
   width: 100%;
}

.box.is-hoverable:hover {
   -webkit-box-shadow: $box-shadow-hovered;
   -moz-box-shadow: $box-shadow-hovered;
   box-shadow: $box-shadow-hovered;
}

.is-clickable {
   cursor: pointer;
}

.notification > .delete {
    right: 0.75rem;
    top: 0.75rem;
}
