@model TTWebAuto.Models.FacebookModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-antiforgery="true" ass>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label"></label>
                <input asp-for="Target" class="form-control" value="https://www.facebook.com/kim.truong.90260403" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary" asp-action="Comment">Comment</button>
               <button type="submit" class="btn btn-primary" asp-action="Friends">Friends</button>
               <button type="submit" class="btn btn-primary" asp-action="SearchFriend">Search</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
