@model IEnumerable<FacebookCredential>
@{

}
<div class="box">
   <div class="media">
      <div class="media-left">
         <span class="icon">
            <i class="fas fa-plus"></i>
         </span>
      </div>
      <div class="media-content">
         <span>Add new facebook login</span>
      </div>
   </div>
</div>