<div class="empty-state">
   <a class="button is-medium facebook-button" asp-controller="account" asp-action="loginexternal" asp-route-provider="Facebook">
      <span class="icon ion-ionic">
         <ion-icon name="logo-facebook"></ion-icon>
      </span>
      <span>Login with Facebook</span>
   </a>
</div>