<div class="empty-state">
   <div class="has-text-centered">
      <p class="title">Account is not yet activated</p>
      <p class="subtitle">New account has to be manually activated by an admin</p>
      <a class="button is-primary" asp-controller="account" asp-action="login">To Login page</a>
   </div>
</div>