
@{
   ViewData["Title"] = "Login";
}
<section class="hero is-primary">
   <div class="hero-body">
      <div class="container">
         <h1 class="title">Login</h1>
         <h2 class="subtitle">
            <a class="button is-light" asp-controller="account" asp-action="loginexternal">
               <span class="icon is-medium">
                  <i class="fab fa-facebook"></i>
               </span>
               <span>Login with Facebook</span>
            </a>
         </h2>
      </div>
   </div>
</section>