@model FormButtonViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model.DisplayDeleteButton && Url.IsLocalUrl(Model.DeleteUrl))
{
    <div class="modal" id="confirmDeleteModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-card-body">
                <form action="@Model.DeleteUrl" method="post" id="confirmDeleteModalForm" asp-antiforgery="true">
                    <p>Confirm delete this element ??</p>
                </form>
            </div>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-danger" form="confirmDeleteModalForm">Confirm deletion</button>
                <button type="button" class="button" data-modal-close="true">Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
}
