@model TTWebMVCV2.Models.PartialViewModels.FormButtonViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="level">
    <div class="level-left">
        <div class="level-item">

        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <div class="buttons">
                @if (Model.DisplayDeleteButton && Url.IsLocalUrl(Model.DeleteUrl))
                {
                    <button type="button" class="button is-danger modal-trigger" data-modal-target="#confirmDeleteModal">Delete</button>
                }
                @if (Model.DisplayCancelButton && Url.IsLocalUrl(Model.ReturnUrl))
                {
                    <a href="@Model.ReturnUrl" class="button">Cancel</a>
                }
                @if (Model.DisplayUpdateButton && Url.IsLocalUrl(Model.UpdateUrl))
                {
                    <button type="submit" class="button is-success">Save changes</button>
                }
                @if (Model.DisplayCreateButton && Url.IsLocalUrl(Model.CreateUrl))
                {
                    <button type="submit" class="button is-success">Create</button>
                }
            </div>
        </div>
    </div>
</div>