<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>TTWebMVC</title>
   <partial name="_StyleSheetsPartial" />
</head>
<body id="body">
   <div id="body-wrapper">
      <div class="section">
         <div class="container">
            <main role="main">
               @RenderBody()
            </main>
         </div>
      </div>
   </div>
   <partial name="_FooterPartial" />
   <partial name="_ScriptsPartial" />
   @RenderSection("Scripts", required: false)
</body>
</html>
