<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>TTWebMVC</title>
   <partial name="_StyleSheetsPartial" />
   <script defer src="https://use.fontawesome.com/releases/v5.13.1/js/all.js" integrity="sha384-heKROmDHlJdBb+n64p+i+wLplNYUZPaZmp2HZ4J6KCqzmd33FJ8QClrOV3IdHZm5" crossorigin="anonymous"></script>
</head>
<body id="body">
   <div id="body-wrapper">
      <header>
         <partial name="_NavbarPartial" />
         <partial name="_NavTabPartial" />
         <partial name="_TempNotificationsPartial" />
      </header>
      <div class="section" style="height: 100%;">
         <main role="main" style="height: 100%;">
            <div class="columns" style="height: 100%;">
               @if (Authenticated)
               {
                  <div class="column is-2 is-hidden-mobile" style="height: 100%;">
                     <partial name="_SideMenuPartial" />
                  </div>
               }
               <div class="column" style="height: 100%;">
                  <div class="container" style="height: 100%;">
                     @RenderBody()
                  </div>
               </div>
            </div>
         </main>
      </div>
   </div>
   <form id="_AjaxFormAntiForgerySrc" asp-antiforgery="true"></form>
   <partial name="_FooterPartial" />
   <partial name="_ScriptsPartial" />
   @RenderSection("Scripts", required: false)
</body>
</html>
