<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>TTWebMVC</title>
   <partial name="_StyleSheetsPartial" />
</head>
<body id="body">
   <div id="body-wrapper">
      <header>
         <partial name="_NavbarPartial" />
         <partial name="_TempNotificationsPartial" />
      </header>
      <div class="section" style="height: 100%;">
         <main role="main" style="height: 100%;">
            <div class="container" style="height: 100%;">
               @RenderBody()
            </div>
         </main>
      </div>
   </div>
   <form id="_AjaxFormAntiForgerySrc" asp-antiforgery="true"></form>
   <partial name="_FooterPartial" />
   <partial name="_ScriptsPartial" />
   @RenderSection("Scripts", required: false)
</body>
</html>
