<aside class="menu">
   @if (Authenticated)
   {
      <p class="menu-label">
         <span>Scheduling</span>
      </p>
      <ul class="menu-list">
         <li><a>Overview</a></li>
         <li><a>Schedules</a></li>
      </ul>
      <p class="menu-label">
         <span>Administration</span>
      </p>
      <ul class="menu-list">
         <li><a>User</a></li>
         <li><a>Schedules</a></li>
         <li><a>Tasks</a></li>
      </ul>
      <p class="menu-label">
         <span>Settings</span>
      </p>
      <ul class="menu-list">
         <li><a>Setting</a></li>
      </ul>
      <p class="menu-label">
         <span>Account</span>
      </p>
      <ul class="menu-list">
         <li><a asp-controller="account" asp-action="profile">Profile</a></li>
         <li><a asp-controller="account" asp-action="facebookcredentials">Facebook</a></li>
         <li>
            <a id="logout-button" asp-controller="account" asp-action="logout">Logout</a>
         </li>
      </ul>
   }
</aside>