<aside class="menu">
   @if (Authenticated)
   {
      <p class="menu-label">
         <span>Account</span>
      </p>
      <ul class="menu-list">
         <li><a>Profile</a></li>
         <li>
            <a id="logout-button" asp-controller="account" asp-action="logout">Logout</a>
         </li>
      </ul>
   }
</aside>