@{

}
@foreach (string notification in ErrorNotifications)
{
    <div class="notification is-danger">
        <button class="delete"></button>
        <span>@notification</span>
    </div>
}

@if (!string.IsNullOrWhiteSpace(SuccessNotification))
{
    <div class="notification is-success is-light">
        <button class="delete"></button>
        <span>@SuccessNotification</span>
    </div>
}